In [1]:
import sys
from pathlib import Path

sys.path.append(str(Path("..").resolve()))

from src.data_ingestion import *
from src.data_preprocessing import *
from src.descriptive_analytics import *

from pyspark.sql import DataFrame
from pyspark.sql.functions import col
from pyspark.sql.types import NumericType, StringType
from pyspark.sql import functions as F

import seaborn as sns

import numpy as np

from itertools import combinations

from scipy import stats

import matplotlib.pyplot as plt

import pandas as pd

In [2]:
spark = init_spark()
df = load_data(spark)
df.printSchema()
# df.show(5)

root
 |-- ID: string (nullable = true)
 |-- Source: string (nullable = true)
 |-- Severity: integer (nullable = true)
 |-- Start_Time: timestamp (nullable = true)
 |-- End_Time: timestamp (nullable = true)
 |-- Start_Lat: double (nullable = true)
 |-- Start_Lng: double (nullable = true)
 |-- End_Lat: double (nullable = true)
 |-- End_Lng: double (nullable = true)
 |-- Distance(mi): double (nullable = true)
 |-- Description: string (nullable = true)
 |-- Street: string (nullable = true)
 |-- City: string (nullable = true)
 |-- County: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zipcode: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Timezone: string (nullable = true)
 |-- Airport_Code: string (nullable = true)
 |-- Weather_Timestamp: timestamp (nullable = true)
 |-- Temperature(F): double (nullable = true)
 |-- Wind_Chill(F): double (nullable = true)
 |-- Humidity(%): double (nullable = true)
 |-- Pressure(in): double (nullable = true)
 |-- Visibility(mi): double (nullable = true)
 |-- Wind_Direction: string (nullable = true)
 |-- Wind_Speed(mph): double (nullable = true)
 |-- Precipitation(in): double (nullable = true)
 |-- Weather_Condition: string (nullable = true)
 |-- Amenity: boolean (nullable = true)
 |-- Bump: boolean (nullable = true)
 |-- Crossing: boolean (nullable = true)
 |-- Give_Way: boolean (nullable = true)
 |-- Junction: boolean (nullable = true)
 |-- No_Exit: boolean (nullable = true)
 |-- Railway: boolean (nullable = true)
 |-- Roundabout: boolean (nullable = true)
 |-- Station: boolean (nullable = true)
 |-- Stop: boolean (nullable = true)
 |-- Traffic_Calming: boolean (nullable = true)
 |-- Traffic_Signal: boolean (nullable = true)
 |-- Turning_Loop: boolean (nullable = true)
 |-- Sunrise_Sunset: string (nullable = true)
 |-- Civil_Twilight: string (nullable = true)
 |-- Nautical_Twilight: string (nullable = true)
 |-- Astronomical_Twilight: string (nullable = true)

In [3]:
# missing_values = check_missing_values(df)

## Cleaning Data

In [4]:
df = preprocess_data(df)

Step 1: Checking for Missing Values...
Missing Values Percentage by Column (Sorted):
End_Lat: 44.03%
End_Lng: 44.03%
Precipitation(in): 28.51%
Wind_Chill(F): 25.87%
Wind_Speed(mph): 7.39%
Visibility(mi): 2.29%
Wind_Direction: 2.27%
Humidity(%): 2.25%
Weather_Condition: 2.24%
Temperature(F): 2.12%
Pressure(in): 1.82%
Weather_Timestamp: 1.56%
Sunrise_Sunset: 0.30%
Civil_Twilight: 0.30%
Nautical_Twilight: 0.30%
Astronomical_Twilight: 0.30%
Airport_Code: 0.29%
Street: 0.14%
Timezone: 0.10%
Zipcode: 0.02%
City: 0.00%
Description: 0.00%
ID: 0.00%
Source: 0.00%
Severity: 0.00%
Start_Time: 0.00%
End_Time: 0.00%
Start_Lat: 0.00%
Start_Lng: 0.00%
Distance(mi): 0.00%
County: 0.00%
State: 0.00%
Country: 0.00%
Amenity: 0.00%
Bump: 0.00%
Crossing: 0.00%
Give_Way: 0.00%
Junction: 0.00%
No_Exit: 0.00%
Railway: 0.00%
Roundabout: 0.00%
Station: 0.00%
Stop: 0.00%
Traffic_Calming: 0.00%
Traffic_Signal: 0.00%
Turning_Loop: 0.00%

Step 2: Replacing NaN values with None...

AnalysisException: [DATATYPE_MISMATCH.UNEXPECTED_INPUT_TYPE] Cannot resolve "isnan(Start_Time)" due to data type mismatch: Parameter 1 requires the ("DOUBLE" or "FLOAT") type, however "Start_Time" has the type "TIMESTAMP".;
'Project [CASE WHEN isnan(cast(ID#0 as double)) THEN cast(null as string) ELSE ID#0 END AS ID#466, CASE WHEN isnan(cast(Source#1 as double)) THEN cast(null as string) ELSE Source#1 END AS Source#467, CASE WHEN isnan(cast(Severity#2 as double)) THEN cast(null as int) ELSE Severity#2 END AS Severity#468, CASE WHEN isnan(Start_Time#3) THEN null ELSE Start_Time#3 END AS Start_Time#469, CASE WHEN isnan(End_Time#4) THEN null ELSE End_Time#4 END AS End_Time#470, CASE WHEN isnan(Start_Lat#5) THEN cast(null as double) ELSE Start_Lat#5 END AS Start_Lat#471, CASE WHEN isnan(Start_Lng#6) THEN cast(null as double) ELSE Start_Lng#6 END AS Start_Lng#472, CASE WHEN isnan(End_Lat#7) THEN cast(null as double) ELSE End_Lat#7 END AS End_Lat#473, CASE WHEN isnan(End_Lng#8) THEN cast(null as double) ELSE End_Lng#8 END AS End_Lng#474, CASE WHEN isnan(Distance(mi)#9) THEN cast(null as double) ELSE Distance(mi)#9 END AS Distance(mi)#475, CASE WHEN isnan(cast(Description#10 as double)) THEN cast(null as string) ELSE Description#10 END AS Description#476, CASE WHEN isnan(cast(Street#11 as double)) THEN cast(null as string) ELSE Street#11 END AS Street#477, CASE WHEN isnan(cast(City#12 as double)) THEN cast(null as string) ELSE City#12 END AS City#478, CASE WHEN isnan(cast(County#13 as double)) THEN cast(null as string) ELSE County#13 END AS County#479, CASE WHEN isnan(cast(State#14 as double)) THEN cast(null as string) ELSE State#14 END AS State#480, CASE WHEN isnan(cast(Zipcode#15 as double)) THEN cast(null as string) ELSE Zipcode#15 END AS Zipcode#481, CASE WHEN isnan(cast(Country#16 as double)) THEN cast(null as string) ELSE Country#16 END AS Country#482, CASE WHEN isnan(cast(Timezone#17 as double)) THEN cast(null as string) ELSE Timezone#17 END AS Timezone#483, CASE WHEN isnan(cast(Airport_Code#18 as double)) THEN cast(null as string) ELSE Airport_Code#18 END AS Airport_Code#484, CASE WHEN isnan(Weather_Timestamp#19) THEN null ELSE Weather_Timestamp#19 END AS Weather_Timestamp#485, CASE WHEN isnan(Temperature(F)#20) THEN cast(null as double) ELSE Temperature(F)#20 END AS Temperature(F)#486, CASE WHEN isnan(Wind_Chill(F)#21) THEN cast(null as double) ELSE Wind_Chill(F)#21 END AS Wind_Chill(F)#487, CASE WHEN isnan(Humidity(%)#22) THEN cast(null as double) ELSE Humidity(%)#22 END AS Humidity(%)#488, CASE WHEN isnan(Pressure(in)#23) THEN cast(null as double) ELSE Pressure(in)#23 END AS Pressure(in)#489, ... 22 more fields]
+- Relation [ID#0,Source#1,Severity#2,Start_Time#3,End_Time#4,Start_Lat#5,Start_Lng#6,End_Lat#7,End_Lng#8,Distance(mi)#9,Description#10,Street#11,City#12,County#13,State#14,Zipcode#15,Country#16,Timezone#17,Airport_Code#18,Weather_Timestamp#19,Temperature(F)#20,Wind_Chill(F)#21,Humidity(%)#22,Pressure(in)#23,... 22 more fields] csv

## Feature Engineering

In [ ]:
from pyspark.sql.functions import col

def convert_temp_to_celsius(df, temp_col="Temperature(F)", new_col="Temperature(C)"):
    return df.withColumn(new_col, (col(temp_col) - 32) * 5 / 9)

df = convert_temp_to_celsius(df)

## Decriptive Analysis

In [ ]:
from folium.plugins import HeatMap
import folium

# Sample the data for mapping (adjust fraction as needed)
sample_map_df = df.select("Start_Lat", "Start_Lng").dropna().sample(fraction=0.01).toPandas()

# Create heatmap
heat_data = sample_map_df[["Start_Lat", "Start_Lng"]].values.tolist()
center = [sample_map_df["Start_Lat"].mean(), sample_map_df["Start_Lng"].mean()]
map_all = folium.Map(location=center, zoom_start=5)
HeatMap(heat_data).add_to(map_all)

# Save and display
map_all.save("accidents_heatmap_all_states.html")

from IPython.display import IFrame
IFrame("accidents_heatmap_all_states.html", width="100%", height="500px")

### Severity Analysis

In [ ]:
# Count accidents by severity
severity_counts = df.groupBy("Severity").count().orderBy("Severity")

# Convert to pandas for plotting
severity_pd = severity_counts.toPandas().sort_values("Severity")

# Plot as pie chart
import matplotlib.pyplot as plt

plt.figure(figsize=(8, 8))
plt.pie(severity_pd['count'], labels=severity_pd['Severity'], autopct='%1.1f%%', startangle=90)
plt.title("Accidents by Severity (All States)")
plt.axis('equal')
plt.show()